<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.mohamedgomaa.book_online">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera2" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".User_Info"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splash_Layer"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Register_Page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Updata_Page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Show_one_category"
            android:theme="@style/AppTheme.NoActionBar" />
        >
        <activity
            android:name=".Show_Videos"
            android:theme="@style/AppTheme.NoActionBar" />
        >
        <activity
            android:name=".Show_ALL_Categories"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Test" />
        <activity
            android:name=".FavoriteLayer"
            android:label="@string/title_activity_favorite_layer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Test2" />
        <activity android:name=".Profile_Page" />
    </application>

</manifest>